<head>
    <meta charset = "utf-8">
    <title>Board</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="../" style="color : white">홈</a></li>
                <li> <a href="../board" style="color : white">게시판</a></li>
                <li> <a href="../list" style="color : white">to-do</a></li>


            </ul>
        </nav>
    </header>

    <div class = "title">        
        <h1>게시물 리스트</h1></body>
    </div>
    <div class="contents">
        <table class="contenttable">
            <thead>
                <tr>
                    <th width = "10%">No</th>
                    <th width = "60%">제목</th>
                    <th width = "20%">작성자</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i in content){ %>
                    <%var tmp = content[i]; %>
                    <% var int_val = Number(tmp.Index); %>
                    <%if (int_val % 2 == 1){ %>
                        <tr class = "even">
                    <%} else{ %> 
                    <tr>
                        <%} %>
                        <td width = "10%"><a><%=tmp.Index %></a></td>
                        <td><a href="./<%=tmp.Index %>"><%=tmp.Title %></a></td>                                
                        <td><a><%=tmp.Author %></a></td>
                    </tr>
                <%} %>
            </tbody>
        </table>
        <br>
    </div>
    <div class = "submitbutton">        
        <button type="button" onclick="location.href='../write'">글쓰기</button>
    </div>

</body>