<head>
    <meta charset = "utf-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title> <%=detail[0].Title %> </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="../" style="color : white">홈</a></li>
                <li> <a href="../board" style="color : white">게시판</a></li>
                <li> <a href="../../list" style="color : white">to-do</a></li>


            </ul>
        </nav>
    </header>
    <div class = "ContentView">
        <div id = "title" >
            <h2> <%=detail[0].Title %> </h2>
        </div>
        <div id="content">
            <p><%=detail[0].Content %></p>
        </div>
    </div>
    <br>
    <div class = "Buttons">
        <button type="button" onclick="location.href='../board'" >목록 보기</button>
        <button type="button" onclick="location.href='../write'">글쓰기</button>
    </div>


   
</body>