<head>
    <meta charset = "utf-8">

    <title>Merona</title>
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="#home" style="color : white">홈</a></li>
                <li> <a href="board" style="color : white">게시판</a></li>
                <li> <a href="list" style="color : white">to-do</a></li>


            </ul>
        </nav>
    </header>

    <div class = "home">

    <h1 style="color:#8cca6f"> 
        Merona Web Project
    </h1><br>
    <img src = "image\logo1.png" alt = "돌고래쨩" width = "300" height = "300"><br>
    <a>
        웹 연습용으로 개발중인 페이지입니다.<br>
        ㅎㅎ
        from future 주커버그
    </a>

    
    </div>


</body>