<head>
    <meta charset = "utf-8">

    <title>Board</title>
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <a href="../" style="color : white">홈</a></li>
                <li> <a href="../board" style="color : white">게시판</a></li>
                <li> <a href="../list" style="color : white">to-do</a></li>


            </ul>
        </nav>
    </header>

    <div class = "todo_description">
        <h1>투두 리스트를 위한 페이지</h1>
    </div>

</body>