<head>
    <meta charset = "utf-8">

    <title>Board</title>
    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <a href="../../" style="color : white">홈</a></li>
                <li> <a href="../../board" style="color : white">게시판</a></li>
                <li> <a href="../../list" style="color : white">to-do</a></li>


            </ul>
        </nav>
    </header>

    <div class = "writetable">
        <h1>글 작성</h1>
        <br>
        <form method = 'get', action = '/submit'>
            <p>제목</p><input type="text" name = "title" id = "title"></br>
            <p>작성자 </p><input type="text" name = "author" id = "author"></br>
        </br>
            <input type = "text" name = "content" id = "content" height = "100"></br>
            <input type = "submit" id = "submitbutton" value = "등록"> 
    
        </form>
    </div>

</body>