<head>
    <meta charset = "utf-8">

    <title>Board</title>
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div>
        <h1>글 작성</h1>
    </div>
    <div>
        <form method = 'get', action = '/submit'>
            <p>제목 </p><input type="text" name = "title" id = "title" style="float:left"></br>
            <p>작성자 </p><input type="text" name = "author" id = "author"></br>
        </br>
            <input type = "text" name = "content" id = "content" height = "100"></br>
            <input type = "submit" id = "submitbutton" value = "등록"> 
    
        </form>
    </div>

</body>